@font-face {
    font-family: "Montserrat-Regular";
    src: url("../fonts/Montserrat/static/Montserrat-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("../fonts/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("../fonts/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Montserrat-Light";
    src: url("../fonts/Montserrat/static/Montserrat-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Montserrat-Regular", "serif";
    src: url("../fonts/Montserrat/static/Montserrat-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans/static/OpenSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


.text__h1 {
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-align: left;
    color: hsla(0, 0%, 20%, 1);
}

/* .text__h2 {

} */

.text__h3 {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color: hsla(0, 0%, 20%, 1);
}

.text__h4 {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    color: hsla(211, 60%, 40%, 1);
}

.text__h5 {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: hsla(0, 0%, 20%, 1);
}

.text__h6, .mother__h6 {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: hsla(0, 0%, 20%, 1);
}

/* .text__h7 {

}  */

.text__p {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: hsla(0, 0%, 20%, 1);
}

.text__about-autor,
.dott,
.text__date {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: hsla(0, 0%, 20%, 1);
}

.text__content {
    font-family: Montserrat;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: hsla(0, 0%, 20%, 1);
}

.text__3 {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
    letter-spacing: 0.25px;
    text-align: left;
    color: hsla(0, 0%, 53%, 1);
}

.text__self {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: hsla(211, 60%, 40%, 1);
}