body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #dddddd;
}

.container {
    text-align: center;
    width: 1200px;
}

.button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 20px;
}

.button:hover {
    background-color: #00b33cb2;
}

.loader {
    display: none;
    font-size: 18px;
    color: #00b33cb2;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.gallery img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}
