body {
    margin: 0;
    padding: 0;
    background-color: black;
}
.container {
    /* margin: 0 auto; */
    max-width: 1200px;
}
.slider-items {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.links-item {
    display: flex;
    gap: 50px;
    width: 1100px;
    height: 24px;
    justify-content: flex-end;
}
.other-item {
    width: 1200px;
    margin: 0 auto;
}
.links {
    color: #FFFFFF;
    opacity: 0.3;
}
.active {
    color: #E3B873;

}
.title-info {
    display: flex;
    flex-direction: column;
}
.info-p {
    width: 442px;
    height: 86px;
    color: #FFFFFF;
}
.title-h3 {
    width: 255px;
    color: #E3B873;
}
.grid-other {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-content: center;
    margin-top: 50px;
}
.grid-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
}
.name {
    max-width: 220px;
    height: 22px;
    color: #E3B873;
}
.item {
    color: #FFFFFF;
}
.img-slider {
    display: flex;
}
.image {
    /* background-image: url(./image/image1.png); */
    width: 680px;
    height: 480px;
}
.option-toggle {
    display: flex;
    margin-top: -18px;
    width: 281px;
}
.toggle {
    display: flex;
    width: 253px;
    justify-content: space-between;
    align-items: center;
}
.arrow {
    color: #FFFFFF;
}
.left {
    background-image: url(./image/arrow_left.svg);
    width: 40px;
    height: 13px;
    background-repeat: no-repeat;
}
.right {
    background-image: url(./image/arrow_right.svg);
    width: 40px;
    height: 13px;
    background-repeat: no-repeat;
}
.dots {
    background-color: #FFFFFF;
    opacity: 0.3;
    border-radius: 50%;    
    width: 10px;
    height: 10px;
}
.dots.active {
    background-color: #FFFFFF;
}
.rectangle {
    background-color: #E3B873;
    width: 193px;
    height: 1px;
    margin-top: 7px;
}
